/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/public/uploads
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#phpstorm
.idea
resources/.DS_Store
.DS_Store

.vscode
